@charset "UTF-8";
/*&:before{
  background: url("../image/sub.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 12px;
  position: absolute;
  left: -1px;
  top: 2px;
}
@include old-ie{
  *zoom: expression(
    this.runtimeStyle.zoom="1",
    this.appendChild( document.createElement("small") ).className="before"
  );
  .before{
    background: url("../image/sub.png") 0px 0px no-repeat;
    width: 20px;
    height: 12px;      
    position: absolute;
    left: -1px;
    top: 2px; 
  }
}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProItalic";
  src: url("../fonts/MyriadProItalic.eot");
  src: url("../fonts/MyriadProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProItalic.woff") format("woff"), url("../fonts/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #0c0c0c;
  font-size: 14px;
  background: url("../image/bac.jpg") repeat;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #0c0c0c;
  font-size: 14px;
}
.rcontent p {
  line-height: 1.5;
}

a {
  color: #f69c39;
}
a:visited {
  color: #f69c39;
}
a:hover {
  color: #f8a43d;
}
a:active {
  color: #f69c39;
}
a:focus {
  color: #f69c39;
}
a:focus {
  outline: none;
}

pre {
  white-space: normal;
}

h1 {
  font-family: MyriadProBold, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #f68a07;
  text-transform: uppercase;
  margin: 0px 0px 12px 0px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.hide {
  display: none;
}

.gradtitle {
  font-family: MyriadProBold;
  font-size: 20px;
  color: #f68a07;
  text-transform: uppercase;
  height: 28px;
  padding: 7px 0px 0px 11px;
  background-color: #fdfffa;
  background-image: -webkit-gradient(linear, left top, right top, from(#fceed1), to(#fdfffa));
  background-image: -webkit-linear-gradient(left, #fceed1, #fdfffa);
  background-image: -moz-linear-gradient(left, #fceed1, #fdfffa);
  background-image: -ms-linear-gradient(left, #fceed1, #fdfffa);
  background-image: -o-linear-gradient(left, #fceed1, #fdfffa);
  background-image: linear-gradient(left, #fceed1, #fdfffa);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fceed1', EndColorStr='#fdfffa');
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.breadcrumb {
  margin: 0px 0px 25px 0px;
}
.breadcrumb_link {
  color: #f8a43d;
  position: relative;
  margin: 0px 5px 0px 0px;
  font-size: 12px;
  *zoom: expression( this.runtimeStyle.zoom="1", this.appendChild( document.createElement("small") ).className="breadcrumb_before" );
}
.breadcrumb_link:visited {
  color: #f8a43d;
}
.breadcrumb_link:hover {
  color: #f8a43d;
}
.breadcrumb_link:active {
  color: #f8a43d;
}
.breadcrumb_link:focus {
  color: #f8a43d;
}
.breadcrumb_link:before {
  background: url("../image/bread.gif") no-repeat #fff;
  content: "";
  display: inline-block;
  width: 6px;
  height: 5px;
  margin: 0px 5px 0px 0px;
}
* + html .breadcrumb_link {
  margin-right: 15px;
}
.breadcrumb_link .breadcrumb_before {
  background: url("../image/bread.gif") no-repeat #fff;
  width: 6px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: -12px;
}
.breadcrumb_link:first-child {
  margin: 0px 5px 0px 0px;
}
.breadcrumb_link:first-child:before {
  display: none;
}
.breadcrumb_link:first-child .breadcrumb_before {
  display: none;
}
.breadcrumb_item {
  color: #999999;
  position: relative;
  font-size: 12px;
  *zoom: expression( this.runtimeStyle.zoom="1", this.appendChild( document.createElement("small") ).className="breadcrumb_before" );
}
.breadcrumb_item:before {
  background: url("../image/bread.gif") no-repeat #fff;
  content: "";
  display: inline-block;
  width: 6px;
  height: 5px;
  margin: 0px 5px 0px 0px;
}
* + html .breadcrumb_item {
  margin-right: 15px;
}
.breadcrumb_item .breadcrumb_before {
  background: url("../image/bread.gif") no-repeat #fff;
  width: 6px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: -12px;
}

.mypager {
  text-align: center;
}
.mypager_list {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  display: inline-block;
  margin: 0 auto;
}
.mypager_list:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .mypager_list {
  height: 1%;
}
.mypager_item {
  float: left;
  display: block;
  width: 37px;
  height: 26px;
  margin: 0px 4px 0px 4px;
  padding: 11px 0px 0px 0px;
}
.mypager_item__current {
  color: #ffffff;
  background-color: #72c325;
}
.mypager_item a {
  color: #6f6f6f;
  text-decoration: none;
}
.mypager_item a:visited {
  color: #6f6f6f;
}
.mypager_item a:hover {
  color: #6f6f6f;
}
.mypager_item a:active {
  color: #6f6f6f;
}
.mypager_item a:focus {
  color: #6f6f6f;
}
.mypager_item.mypager-prev, .mypager_item.mypager-next {
  padding: 5px 0px 0px 0px;
}
.mypager_item.mypager-prev a, .mypager_item.mypager-next a {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 14px;
  height: 26px;
  background: url("../image/pagearrows.png") no-repeat;
  margin: 0 auto;
}
.mypager_item.mypager-next a {
  background-position: -14px 0px;
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

.header {
  box-sizing: border-box;
  height: 398px;
  position: relative;
  background: url("../image/header.png") center bottom no-repeat;
}
.header_edge {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 27px;
  width: 100%;
  background: url("../image/edging-top.png") repeat-x;
}
.header_left {
  float: left;
}
.header_right {
  float: right;
  text-align: right;
}
.header_logo {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 168px;
  height: 116px;
  margin: 72px 0px 0px 0px;
  background: url("../image/logo.png") no-repeat;
}
.header_slang {
  font-family: MyriadProItalic;
  font-size: 16px;
  margin: 10px 0px 0px 0px;
  width: 168px;
  text-align: center;
}
.header_phone {
  margin: 100px 0px 32px 0px;
}
.header_phone p {
  font-size: 20px;
  margin: 0px 0px 6px 0px;
}
.header_phone p:first-child {
  position: relative;
  *zoom: expression( this.runtimeStyle.zoom="1", this.appendChild( document.createElement("small") ).className="before" );
}
.header_phone p:first-child:before {
  background: url("../image/phone.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -33px;
  top: 3px;
}
.header_phone p:first-child .before {
  background: url("../image/phone.png") 0px 0px no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -33px;
  top: 3px;
}
.header_calc {
  margin: 0px 0px 19px 0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 121px;
  height: 78px;
  background: url("../image/calc.png") no-repeat;
  -webkit-animation-name: spin2;
  -webkit-animation-duration: 300ms;
  -moz-animation-name: spin2;
  -moz-animation-duration: 300ms;
  -ms-animation-name: spin2;
  -ms-animation-duration: 300ms;
  animation-name: spin2;
  animation-duration: 300ms;
}
@-ms-keyframes spin2 {
  0% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  50% {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes spin2 {
  0% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  50% {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes spin2 {
  0% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  50% {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes spin2 {
  0% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  50% {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.header_calc:hover {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 300ms;
  -moz-animation-name: spin;
  -moz-animation-duration: 300ms;
  -ms-animation-name: spin;
  -ms-animation-duration: 300ms;
  animation-name: spin;
  animation-duration: 300ms;
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
@-ms-keyframes spin {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes spin {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.header_actions {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 95px;
  height: 33px;
  background: url("../image/actions.png") no-repeat;
  -webkit-transition: 0.2s 0.1s ease-in-out;
  -moz-transition: 0.2s 0.1s ease-in-out;
  -o-transition: 0.2s 0.1s ease-in-out;
  -ms-transition: 0.2s 0.1s ease-in-out;
  transition: 0.2s 0.1s ease-in-out;
}
.header_actions:hover {
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
.header_wrap {
  text-align: right;
}
.header_center {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  min-height: 400px;
}
.header_center:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .header_center {
  height: 1%;
}

.plus {
  margin: 30px 0px 0px 0px;
}
.plus_item {
  font-family: MyriadProRegular;
  font-size: 13px;
  position: relative;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 22px;
  *zoom: expression( this.runtimeStyle.zoom="1", this.appendChild( document.createElement("small") ).className="before" );
}
.plus_item:before {
  background: url("../image/plus.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 16px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: -2px;
}
.plus_item .before {
  background: url("../image/plus.png") 0px 0px no-repeat;
  width: 16px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: -2px;
}
.plus_item__2:before {
  background-position: -16px 0px;
}
.plus_item__2 .before {
  background-position: -16px 0px;
}
.plus_item__3:before {
  background-position: -32px 0px;
}
.plus_item__3 .before {
  background-position: -32px 0px;
}
.plus_item__4:before {
  background-position: -48px 0px;
}
.plus_item__4 .before {
  background-position: -48px 0px;
}

.topmenu_link {
  font-size: 13px;
  color: #000000;
  text-decoration: none;
  display: block;
  height: 21px;
  text-align: center;
  padding: 7px 0px 0px 0px;
  background-color: #f9f5e4;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.topmenu_link:visited {
  color: #000000;
}
.topmenu_link:hover {
  color: #fa7500;
}
.topmenu_link:active {
  color: #000000;
}
.topmenu_link:focus {
  color: #000000;
}
.topmenu_link__l2 {
  text-align: left;
  padding: 7px 0px 0px 14px;
}
.topmenu_link__l2:hover {
  background-color: transparent;
  color: #000000;
  background-color: #f9f5e4;
  background-image: -webkit-gradient(linear, left top, right top, from(#e9debd), to(#f9f5e4));
  background-image: -webkit-linear-gradient(left, #e9debd, #f9f5e4);
  background-image: -moz-linear-gradient(left, #e9debd, #f9f5e4);
  background-image: -ms-linear-gradient(left, #e9debd, #f9f5e4);
  background-image: -o-linear-gradient(left, #e9debd, #f9f5e4);
  background-image: linear-gradient(left, #e9debd, #f9f5e4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e9debd', EndColorStr='#f9f5e4');
}
.topmenu_link__l2:hover:visited {
  color: #000000;
}
.topmenu_link__l2:hover:hover {
  color: #000000;
}
.topmenu_link__l2:hover:active {
  color: #000000;
}
.topmenu_link__l2:hover:focus {
  color: #000000;
}
.topmenu_list {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}
.topmenu_list__l2 {
  display: block;
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  top: 28px;
  left: -1px;
  z-index: 1;
  border: 1px solid #dadace;
  border-top: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.topmenu_item {
  position: relative;
  border: 1px solid #dadace;
  border-right: none;
  vertical-align: top;
  width: 1%;
  white-space: nowrap;
  display: table-cell;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.topmenu_item:first-child {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topmenu_item:first-child .topmenu_link {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topmenu_item:last-child {
  border-right: 1px solid #dadace;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topmenu_item:last-child .topmenu_link {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topmenu_item:hover {
  border-color: #e7ba7d;
  border-color: #e7ba7d;
  border-color: #e7ba7d;
}
.topmenu_item:hover + li {
  border-left: 1px solid #e7ba7d;
}
.topmenu_item:hover .topmenu_list__l2 {
  border: 1px solid #e7ba7d;
  border-top: none;
  max-height: 300px;
}
* html .topmenu_item {
  display: inline;
  zoom: 1;
}
.topmenu_item__l2 {
  display: list-item;
  width: auto;
  border: none;
}
.topmenu_item__l2:first-child {
  border-left: none;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topmenu_item__l2:first-child .topmenu_link {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topmenu_item__l2:last-child {
  border-right: none;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topmenu_item__l2:last-child .topmenu_link {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topmenu_item__l2:hover {
  border: none;
}
.topmenu_item__l2:hover + li {
  border-left: none;
}

.lmenu {
  margin: 0px 0px 30px 0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 0px 34px 40px;
}
.lmenu_item {
  margin: 26px 0px 0px 0px;
}
.lmenu_link {
  color: #0c0c0c;
  text-decoration: none;
}
.lmenu_link:visited {
  color: #0c0c0c;
}
.lmenu_link:hover {
  color: #0c0c0c;
}
.lmenu_link:active {
  color: #0c0c0c;
}
.lmenu_link:focus {
  color: #0c0c0c;
}

.content {
  padding: 23px 0px 70px 0px;
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
}
.content:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .content {
  height: 1%;
}

.lcontent {
  float: left;
  width: 255px;
}

.rcontent {
  margin: 0px 0px 0px 285px;
  overflow: hidden;
}

.orderlink {
  display: block;
  margin: 0px 0px 30px 0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 95px;
  background: url("../image/order.jpg") no-repeat;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  -webkit-opacity: 0.85;
  -moz-opacity: 0.85;
  opacity: 0.85;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
}
.orderlink:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.reviewsblock {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 25px 0px 25px 19px;
}
.reviewsblock_title {
  font-family: MyriadProBold;
  font-size: 20px;
  color: #f68a07;
  text-transform: uppercase;
  margin: 0px 0px 29px 0px;
}
.reviewsblock_top {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  margin: 0px 0px 20px 0px;
}
.reviewsblock_top:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .reviewsblock_top {
  height: 1%;
}
.reviewsblock_image {
  float: left;
  width: 66px;
}
.reviewsblock_info {
  margin: 0px 0px 0px 74px;
  font-weight: bold;
}
.reviewsblock_name {
  margin: 0px 0px 10px 0px;
}
.reviewsblock_job {
  width: 140px;
  line-height: 1.3;
}

.how {
  border: 1px solid #f8af3b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 264px;
  padding: 14px 0px 30px 0px;
  margin: 0px 0px 24px 0px;
  background: url("../image/how.png") 8px 67px no-repeat;
}
.how_title {
  font-family: MyriadProBold;
  color: #72c325;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 38px 0px;
}
.how p {
  margin: 0px 14px 0px 67px;
  height: 77px;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}
.how p:last-child {
  height: auto;
}

.why_list {
  overflow: hidden;
  padding: 33px 0px 28px 0px;
}
.why_item {
  box-sizing: border-box;
  font-family: MyriadProBold;
  font-size: 16px;
  line-height: 1.2;
  color: #54524f;
  float: left;
  width: 33.33%;
  height: 30px;
  padding: 0px 0px 53px 48px;
  position: relative;
  *zoom: expression( this.runtimeStyle.zoom="1", this.appendChild( document.createElement("small") ).className="before" );
}
.why_item:before {
  background: url("../image/check.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 13px;
  top: 1px;
}
.why_item .before {
  background: url("../image/check.png") 0px 0px no-repeat;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0px;
  top: 1px;
}

.reviewsfront {
  overflow: hidden;
}
.reviewsfront_item {
  float: left;
  width: 33.33%;
  margin: 48px 0px 68px 0px;
}
.reviewsfront_wrap {
  overflow: hidden;
  margin: 0px 0px 32px 0px;
}
.reviewsfront_image {
  float: left;
  width: 66px;
}
.reviewsfront_name {
  font-weight: bold;
  color: #000000;
  margin: 12px 0px 0px 74px;
}
.reviewsfront_job {
  font-weight: bold;
  color: #000000;
  margin: 8px 0px 0px 74px;
}
.reviewsfront_text {
  color: #000000;
  padding: 0px 20px 0px 0px;
}
.reviewsfront_link {
  color: #5d5d5d;
}
.reviewsfront_link:visited {
  color: #5d5d5d;
}
.reviewsfront_link:hover {
  color: #5d5d5d;
}
.reviewsfront_link:active {
  color: #5d5d5d;
}
.reviewsfront_link:focus {
  color: #5d5d5d;
}

.sale p {
  margin: 37px 0px 0px 0px;
  color: #000000;
  line-height: 1.5;
}

.footer {
  box-sizing: border-box;
  padding: 23px 0px 0px 0px;
  height: 244px;
  position: relative;
  background: url("../image/footer-bottom.png") 0px 14px repeat-x;
  /*&_bottom{
    position: absolute;
    top: 14px;
    left: 0px;
    width: 100%;
    height: 230px;
    background: url('../image/footer-bottom.png') repeat-x;
  }*/
}
.footer_top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 14px;
  background: url("../image/footer-top.jpg") repeat-x;
}
.footer_wrap {
  overflow: hidden;
  min-height: 190px;
}
.footer_address {
  float: left;
  width: 178px;
}
.footer_address p {
  margin: 0px 0px 10px 0px;
}
.footer_rightblock {
  float: left;
  width: 176px;
  text-align: right;
}
.footer_phone p {
  margin: 0px 0px 10px 0px;
}
.footer_email {
  margin: 0px 0px 24px 0px;
}
.footer_email a {
  color: #31c0ef;
  text-decoration: none;
  border-bottom: 1px solid #31c0ef;
}
.footer_email a:visited {
  color: #31c0ef;
}
.footer_email a:hover {
  color: #31c0ef;
}
.footer_email a:active {
  color: #31c0ef;
}
.footer_email a:focus {
  color: #31c0ef;
}
.footer_bottom {
  position: relative;
  padding: 0px 0px 15px 0px;
}
.footer_up {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 78px;
  height: 25px;
  background: url("../image/up.png") no-repeat;
}

.menubottom {
  margin: 0px 0px 25px 0px;
}
.menubottom_list {
  text-align: justify;
  /* ╨Ю╨▒╨╜╤Г╨╗╤П╨╡╨╝ ╨┤╨╗╤П ╤А╨╛╨┤╨╕╤В╨╡╨╗╤П*/
  line-height: 0;
  font-size: 1px;
  /* 1px ╨┤╨╗╤П Opera */
  /* ╨Ы╨╡╨║╨░╤А╤Б╤В╨▓╨╛ ╨┤╨╗╤П IE6-7*/
  text-justify: newspaper;
  zoom: 1;
  /* ╨Т╨║╨╗╤О╤З╨░╨╡╨╝ ╨▓ ╤А╨░╨▒╨╛╤В╤Г ╨┐╨╛╤Б╨╗╨╡╨┤╨╜╤О╤О ╤Б╤В╤А╨╛╨║╤Г*/
  text-align-last: justify;
}
.menubottom_list:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.menubottom_item {
  display: inline-block;
  text-align: left;
  /* ╨Т╨╛╤Б╤В╨░╨╜╨░╨▓╨╗╨╕╨▓╨░╨╡╨╝ ╤Г ╨┐╨╛╤В╨╛╨╝╨║╨╛╨▓, ╨║╤А╨╛╨╝╨╡ ╨┐╨╛╤Б╨╗╨╡╨┤╨╜╨╡╨│╨╛*/
  line-height: normal;
  font-size: 14px;
  /* ╨С╨╡╨╖ ╨╜╨╡╨│╨╛ ╨▓ Opera ╨▒╤Г╨┤╨╡╤В ╨╛╤В╤Б╤В╤Г╨┐ ╨┐╨╛╨┤ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨░╨╝╨╕ */
  vertical-align: top;
  /* ╤Н╨╝╤Г╨╗╤П╤Ж╨╕╤П inline-block ╨┤╨╗╤П IE6-7*/
  display: inline;
  zoom: 1;
}
.menubottom_link {
  font-family: MyriadProBold;
  font-size: 14px;
  color: #f68a07;
}

.menucatalogbottom {
  width: 645px;
  overflow: hidden;
  float: left;
}
.menucatalogbottom_list {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px;
}
.menucatalogbottom_item {
  margin: 0px 0px 10px 0px;
}
.menucatalogbottom_wrap {
  width: 200px;
  float: left;
  margin-left: 22px;
}
.menucatalogbottom_wrap:first-child {
  margin-left: 0px;
}
.menucatalogbottom_link {
  color: #0c0c0c;
  text-decoration: none;
}
.menucatalogbottom_link:visited {
  color: #0c0c0c;
}
.menucatalogbottom_link:hover {
  color: #0c0c0c;
}
.menucatalogbottom_link:active {
  color: #0c0c0c;
}
.menucatalogbottom_link:focus {
  color: #0c0c0c;
}

.social {
  float: right;
}
.social_link {
  		/*display: inline-block;
  		@include old-ie{
        display : inline;
        zoom : 1;
      }*/
  display: block;
  float: left;
  margin: 0px 0px 0px 7px;
  width: 20px;
  height: 18px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../image/social.png") 0px 0px no-repeat;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.social_link__ok {
  background-position: -30px 0px;
}
.social_link__fb {
  background-position: -59px 0px;
}
.social_link__ig {
  background-position: -87px 0px;
}
.social_link__tt {
  background-position: -114px 0px;
}
.social_link:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    	/*-webkit-animation-name: spin;
      -webkit-animation-duration: 100ms;
      -moz-animation-name: spin;
      -moz-animation-duration: 1000ms;
      -ms-animation-name: spin;
      -ms-animation-duration: 100ms;
      animation-name: spin;
      animation-duration: 1000ms;
      @-ms-keyframes spin {
        0%, 100% {opacity: 1;} 
    		50% {opacity: 0;}
      }
      @-moz-keyframes spin {
				0%, 100% {opacity: 0;} 
    		50% {opacity: 0.2;}
      }
      @-webkit-keyframes spin {
				0%, 100% {opacity: 1;} 
    		50% {opacity: 0;}
      }
      @keyframes spin {
				0%, 100% {@include scale(1);} 
    		50% {@include scale(1.1);}
      }*/
}

.webformat {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 334px;
  height: 28px;
  background: url("../image/wf.png") no-repeat;
  margin: 0 auto;
}

.actions {
  padding: 15px 0px 0px 0px;
}
.actions_item {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  margin: 0px 0px 50px 0px;
}
.actions_item:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .actions_item {
  height: 1%;
}
.actions_image {
  width: 300px;
  float: left;
}
.actions_image img {
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.actions_text {
  margin: 0px 0px 0px 317px;
}
.actions_title {
  font-family: MyriadProBold;
  font-size: 20px;
  color: #f68a07;
  min-height: 50px;
}
.actions_date {
  font-family: MyriadProBold;
  font-size: 14px;
  color: #cdcdcd;
  margin: 0px 0px 12px 0px;
}
.actions_descr {
  line-height: 1.5;
  min-height: 114px;
}

.action {
  padding: 15px 0px 0px 0px;
}
.action_item {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  margin: 0px 0px 32px 0px;
  padding: 0px 0px 50px 0px;
  border-bottom: 1px solid #dadacc;
}
.action_item:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .action_item {
  height: 1%;
}
.action_image {
  width: 300px;
  float: left;
}
.action_image img {
  display: block;
  margin: 0px 0px 25px 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.action_text {
  margin: 0px 0px 0px 317px;
}
.action_title {
  font-family: MyriadProBold;
  font-size: 20px;
  color: #f68a07;
  min-height: 50px;
}
.action_date {
  font-family: MyriadProBold;
  font-size: 14px;
  color: #cdcdcd;
  margin: 0px 0px 12px 0px;
}
.action_descr {
  line-height: 1.5;
  min-height: 114px;
}
.action_link {
  display: block;
  height: 47px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../image/doaction.jpg") no-repeat;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  -webkit-opacity: 0.85;
  -moz-opacity: 0.85;
  opacity: 0.85;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
}
.action_link:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.otheractions_wrap {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
}
.otheractions_wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .otheractions_wrap {
  height: 1%;
}
.otheractions_item {
  width: 211px;
  float: left;
  margin: 0px 0px 0px 40px;
  text-decoration: none;
}
.otheractions_item img {
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0px 0px 20px 0px;
}
.otheractions_item:first-child {
  margin: 0px;
}
.otheractions_title {
  font-family: MyriadProBold;
  font-size: 20px;
  color: #f68a07;
  margin: 0px 0px 27px 0px;
}

.reviews {
  padding: 15px 0px 0px 0px;
}
.reviews_item {
  margin: 0px 0px 71px 0px;
}
.reviews_text {
  margin: 0px 0px 27px 0px;
  padding: 31px 30px 31px 30px;
  border: 1px solid #cacaca;
  line-height: 1.5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.reviews_text:before, .reviews_text:after {
  content: '';
  position: absolute;
  left: 17px;
  bottom: -26px;
  border: 13px solid transparent;
  border-top: 13px solid #cacaca;
}
.reviews_text:after {
  border-top: 13px solid #FAF9F4;
  bottom: -25px;
}
.reviews_wrap {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
}
.reviews_wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .reviews_wrap {
  height: 1%;
}
.reviews_image {
  float: left;
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
}
.reviews_image:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .reviews_image {
  height: 1%;
}
.reviews_image img {
  display: block;
  float: left;
  width: 66px;
}
.reviews_name {
  margin: 12px 0px 6px 74px;
  font-weight: bold;
}
.reviews_job {
  margin: 0px 0px 0px 74px;
  font-weight: bold;
  line-height: 1.3;
}
.reviews_link {
  float: right;
  display: block;
  margin: 15px 0px 0px 0px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 300px;
  height: 47px;
  background: url("../image/viewphoto.jpg") no-repeat;
  -webkit-opacity: 0.85;
  -moz-opacity: 0.85;
  opacity: 0.85;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.reviews_link:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/*# sourceMappingURL=all-old-ie.css.map */
