.feedback{
  @iclude def-clearfix2();
  &_item{
    float: left;
    border: 1px solid #d7d7d7;
    width: 338px;
    box-sizing: border-box;
    padding: 36px 25px 40px 25px;
    margin: 0px 0px 0px 39px;
    &:first-child{
      margin: 0px;
    }
  }
  &_title{
    font-family: MyriadProBold;
    font-size: 20px;
    color: #72c325;
    text-transform: uppercase;
    margin: 0px 0px 33px 0px;
    padding: 0px 0px 0px 42px;
    position: relative;
    &:before{
      background: url("../image/feedback.png") 0px 0px no-repeat;
      content: "";
      display: inline-block;
      width: 37px;
      height: 35px;
      position: absolute;
      left: -6px;
      top: -6px;
    }
    @include old-ie{
      *zoom: expression(
        this.runtimeStyle.zoom="1",
        this.appendChild( document.createElement("small") ).className="before"
      );
      .before{
        background: url("../image/feedback.png") 0px 0px no-repeat;
        width: 37px;
        height: 35px;     
        position: absolute;
        left: -6px;
        top: -6px; 
      }
    }
    &__callback{
      &:before{
        background-position: -37px 0px;
      }
      @include old-ie{
        .before{
          background-position: -37px 0px;
        }
      }
    }
  }
  &_label{
    color: #878787;
    margin: 0px 0px 5px 0px;
  }
  &_inner{
    margin: 0px 0px 18px 0px;
    input{
      display: block;
      box-sizing: border-box;
      height: 45px;
      width: 100%;
      border: 1px solid #e9e9e9;
      padding: 0px 15px 0px 15px;
      font-size: 16px;
      @include def-border-radius(2px);
    }
    textarea{
      display: block;
      box-sizing: border-box;
      resize: none;
      width: 100%;
      height: 125px;
      border: 1px solid #e9e9e9;
      padding: 15px;
      font-family: arial;
      font-size: 16px;
      @include def-border-radius(2px);
    }
  }
  &_button{
    padding: 13px 0px 0px 0px;
    input{
      border: none;
      cursor: pointer;
      background-color: #72c325;
      display: block;
      width: 184px;
      height: 41px;
      font-family: MyriadProBold;
      font-size: 16px;
      color: #ffffff;
      text-transform: uppercase;
      @include def-border-radius(2px);
      @include def-transition(background-color, 0.2s);
      &:hover{
        background-color: #5eab15;
      }
    }
    &__callback{
      input{
        background-color: #f8a43d;
        &:hover{
          background-color: #eb9225;
        }
      }
    }
  }
}