.info{
  padding: 15px 0px 0px 0px;
  &_item{
    @include def-clearfix2();
    margin: 0px 0px 50px 0px;
  }
  &_image{
    width: 300px;
    float: left;
    img{
      display: block;
      @include def-border-radius(3px);
    }
  }
  &_text{
    margin: 0px 0px 0px 317px;
  }
  &_title{
    font-family: MyriadProBold;
    font-size: 20px;
    color: #f68a07;
    min-height: 50px;
  }
  &_date{
    font-family: MyriadProBold;
    font-size: 14px;
    color: #cdcdcd;
    margin: 0px 0px 12px 0px;
  }
  &_descr{
    line-height: 1.5;
    min-height: 139px;
  }
}