.menucatalogbottom{
  width: 645px;
  overflow: hidden;
  float: left;
  .lmenu_list{   
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    -webkit-column-gap: 34px;  
    -moz-column-gap: 34px;  
    column-gap: 34px;
  }
  .lmenu_item{
    margin: 0px 0px 10px 0px;
  }
  .lmenu_wrap{
    width: 200px;
    float: left;
    margin-left: 22px;
    &:first-child{
      margin-left: 0px;
    }
  }
  .lmenu_link{
    @include link(#0c0c0c, #0c0c0c);
    text-decoration: none;
  }
  &_wrap{
    width: 210px;
    float: left;
  }
}