.mybreadcrumb{
 margin: 0px 0px 25px 0px;
 &_link{
   @include link(#f8a43d, #f8a43d);
   position: relative;
   margin: 0px 5px 0px 0px;
   font-size: 12px;
   &:before{
      background: url("../image/bread.gif")no-repeat #fff;
      content: "";
      display: inline-block;
      width: 6px;
      height: 5px;
      margin: 0px 5px 0px 0px;
    }
    @include old-ie{
      *zoom: expression(
        this.runtimeStyle.zoom="1",
        this.appendChild( document.createElement("small") ).className="breadcrumb_before"
      );
      *+html &{
        margin-right: 15px;
      }
      .breadcrumb_before{
        background: url("../image/bread.gif")no-repeat #fff;
        width: 6px;
        height: 5px;
        position: absolute;
        top: 4px;
        left: -12px;
      }
    }
    &:first-child {
      margin: 0px 5px 0px 0px;
    }
    &:first-child:before {
      display: none; 
    }
    @include old-ie{
      &:first-child .breadcrumb_before {
        display: none;
      }
    }
 }
 &_item{
   color: #999999;
   position: relative;
   font-size: 12px;
   &:before{
      background: url("../image/bread.gif")no-repeat #fff;
      content: "";
      display: inline-block;
      width: 6px;
      height: 5px;
      margin: 0px 5px 0px 0px;
    }
    @include old-ie{
      *zoom: expression(
        this.runtimeStyle.zoom="1",
        this.appendChild( document.createElement("small") ).className="breadcrumb_before"
      );
      *+html &{
        margin-right: 15px;
      }
      .breadcrumb_before{
        background: url("../image/bread.gif")no-repeat #fff;
        width: 6px;
        height: 5px;
        position: absolute;
        top: 4px;
        left: -12px;
      }
    }
 }
}