.mytable{
  padding: 45px 0px 0px 0px;
  &_item{
    border: 2px solid #000000;
    font: normal 11px Arial, Helvetica, sans-serif; 
    background: #fff; 
    overflow: hidden;
  }
  table{
    border-collapse: collapse; 
    text-align: left; 
    width: 100%;
  }
  td, th{
    padding: 5px 0px 5px 0px;
    text-align: center;
  }
  td{
    color: #000000; 
    border-left: 1px solid #000000;
    font-size: 10px;
    border-bottom: 1px solid #000000;
    font-weight: normal;
    &:first-child{
      border-left: none;
    }
  }
  &_itogo{
    background-color:#F8A43D; 
    td{
      border-bottom: none;
      border-top: 2px solid #000000;
    }
  }
  &_alt{
    td{
      background-color: #ffedd6;
    }
  }
  &_mont{
    background-color: #ffe1bd;
  }
}