.otheractions{
  &-wrap{
    @include def-clearfix2();
  }
  &_item{
    width: 211px;
    float: left;
    margin: 0px 0px 0px 40px;
    text-decoration: none;
    img{
      display: block;
      @include def-border-radius(3px);
      margin: 0px 0px 20px 0px;
    }
    &:first-child{
      margin: 0px;
    }
  }
  &_title{
    font-family: MyriadProBold;
    font-size: 20px;
    color: #f68a07;
    margin: 0px 0px 27px 0px;
  }
}