.plus{
	margin: 30px 0px 0px 0px;
	&_item{
		font-family: MyriadProRegular;
		font-size: 13px;
		position: relative;
		margin: 10px 0px 0px 0px;
		padding: 0px 0px 0px 22px;
		&:before{
      background: url("../image/plus.png") 0px 0px no-repeat;
      content: "";
      display: inline-block;
      width: 16px;
      height: 17px;
      position: absolute;
      left: 0px;
      top: -2px;
      //@include def-opacity(0);
      //visibility:hidden;
    }
    @include old-ie{
      *zoom: expression(
        this.runtimeStyle.zoom="1",
        this.appendChild( document.createElement("small") ).className="before"
      );
      .before{
        background: url("../image/plus.png") 0px 0px no-repeat;
        width: 16px;
        height: 17px;      
        position: absolute;
        left: 0px;
        top: -2px; 
      }
    }
    &__1{
      /*@include translate (-1000px, 0px);
      -webkit-animation-name: moveto;
      -webkit-animation-duration: 500ms;
      -webkit-animation-delay: 1200ms;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-name: moveto;
      -moz-animation-duration: 500ms;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-name: moveto;
      -ms-animation-duration: 500ms;
      -ms-animation-timing-function: ease-in-out;
      animation-name: moveto;
      animation-duration: 500ms;
      animation-delay: 1200ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      &:before{
        -webkit-animation-name: show;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-delay: 2000ms;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: show;
        -moz-animation-duration: 1000ms;
        -moz-animation-timing-function: ease-in-out;
        -ms-animation-name: show;
        -ms-animation-duration: 1000ms;
        -ms-animation-timing-function: ease-in-out;
        animation-name: show;
        animation-duration: 1000ms;
        animation-delay: 1900ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }*/
    }
    &__2{
    	&:before{
    		background-position: -16px 0px;
        /*-webkit-animation-name: show;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-delay: 2300ms;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: show;
        -moz-animation-duration: 1000ms;
        -moz-animation-timing-function: ease-in-out;
        -ms-animation-name: show;
        -ms-animation-duration: 1000ms;
        -ms-animation-timing-function: ease-in-out;
        animation-name: show;
        animation-duration: 1000ms;
        animation-delay: 2300ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;*/
    	}
    	@include old-ie{
    		.before{
    			background-position: -16px 0px;
    		}
    	}
      /*@include translate (-1000px, 0px);
      -webkit-animation-name: moveto;
      -webkit-animation-duration: 500ms;
      -webkit-animation-delay: 1500ms;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-name: moveto;
      -moz-animation-duration: 500ms;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-name: moveto;
      -ms-animation-duration: 500ms;
      -ms-animation-timing-function: ease-in-out;
      animation-name: moveto;
      animation-duration: 500ms;
      animation-delay: 1500ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;*/
    }
    &__3{
    	&:before{
    		background-position: -32px 0px;
        /*-webkit-animation-name: show;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-delay: 2600ms;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: show;
        -moz-animation-duration: 1000ms;
        -moz-animation-timing-function: ease-in-out;
        -ms-animation-name: show;
        -ms-animation-duration: 1000ms;
        -ms-animation-timing-function: ease-in-out;
        animation-name: show;
        animation-duration: 1000ms;
        animation-delay: 2600ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;*/
    	}
    	@include old-ie{
    		.before{
    			background-position: -32px 0px;
    		}
    	}
      /*@include translate (-1000px, 0px);
      -webkit-animation-name: moveto;
      -webkit-animation-duration: 500ms;
      -webkit-animation-delay: 1800ms;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-name: moveto;
      -moz-animation-duration: 500ms;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-name: moveto;
      -ms-animation-duration: 500ms;
      -ms-animation-timing-function: ease-in-out;
      animation-name: moveto;
      animation-duration: 500ms;
      animation-delay: 1800ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;*/
    }
    &__4{
    	&:before{
    		background-position: -48px 0px;
        /*-webkit-animation-name: show;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-delay: 2900ms;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: show;
        -moz-animation-duration: 1000ms;
        -moz-animation-timing-function: ease-in-out;
        -ms-animation-name: show;
        -ms-animation-duration: 1000ms;
        -ms-animation-timing-function: ease-in-out;
        animation-name: show;
        animation-duration: 1000ms;
        animation-delay: 2900ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;*/
    	}
    	@include old-ie{
    		.before{
    			background-position: -48px 0px;
    		}
    	}
      /*@include translate (-1000px, 0px);
      -webkit-animation-name: moveto;
      -webkit-animation-duration: 500ms;
      -webkit-animation-delay: 2100ms;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-name: moveto;
      -moz-animation-duration: 500ms;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-name: moveto;
      -ms-animation-duration: 500ms;
      -ms-animation-timing-function: ease-in-out;
      animation-name: moveto;
      animation-duration: 500ms;
      animation-delay: 2100ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;*/
    }
	}
}
/*@keyframes show {
  from {
    visibility:hidden;
    @include def-opacity(0);
  }
  50% {
    visibility:hidden;
    @include def-opacity(0);
  }
  to {
    visibility:visible;
    @include def-opacity(1);
  }
}
@keyframes moveto {
  from {
    @include translate (-1000px, 0px);
  }
  to {
    @include translate (0px, 0px);
  }
}*/