@import "mymix";
@import "fonts";
//**********************************************************/
//**********************************************************/
body{
  font-family: Arial, Helvetica, sans-serif;
  color: #0c0c0c;
  font-size: 14px;
  background: url('../image/bac.jpg') repeat;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  color: #0c0c0c;
  font-size: 14px;
  .rcontent & {
    line-height: 1.5;
    margin-bottom: 25px;
  }
}
a{
  @include link(#f69c39, #f8a43d);
  &:focus{
    outline: none;
  }
}
pre{
  white-space: normal;
}
h1{
  font-family: MyriadProBold, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #f68a07;
  text-transform: uppercase;
  margin: 0px 0px 12px 0px;
}
input::-moz-placeholder {

}
textarea::-moz-placeholder {

}
input::-webkit-input-placeholder{

}
textarea::-webkit-input-placeholder{

}
input{
  &:focus{
    outline: none;
  }
}
textarea{
   &:focus{
    outline: none;
  }
}
.hide{
  display: none;
}
//**********************************************************/
//**********************************************************/
@import "gradtitle";
@import "breadcrumb";
@import "mypager";

@import "inner";
@import "header";
@import "plus";

@import "topmenu";
@import "lmenu";

@import "content";
@import "lcontent";
@import "rcontent";

@import "orderlink";
@import "reviewsblock";

@import "how";
@import "why";
@import "reviewsfront";
@import "sale";
@import "footer";
@import "menubottom";
@import "menucatalogbottom";
@import "social";
@import "webformat";


@import "actions";
@import "action";
@import "otheractions";

@import "reviews";

@import "work";

@import "contacts";
@import "feedback";

@import "info";

@import "catalog";

