.work{
	&_item{
		margin: 0px 0px 12px 0px;
	}
	&_top{
		@include def-clearfix2();
		padding: 0px 0px 15px 0px;
	}
	&_title{
		font-family: MyriadProBold;
		font-size: 20px;
		color: #f68a07;
		float: left;
		margin-top: -15px;
	}
	&_link{
		@include link(#000000, #000000);
		text-decoration: none;
		border-bottom: 1px dotted #000000;
		float: right;
		margin-top: 4px;
	}
	&_bottom{
		@include def-clearfix2();
		//height: 140px;
		overflow: hidden;
		a{
			float: left;
			width: 163px;
			height: 120px;
			margin: 0px 20px 20px 0px;
			&:nth-child(4n){
				margin: 0px 0px 20px 0px;
			}
			img{
				display: block;
			}
		}
	}
	&_image{
		float: left;
		width: 163px;
		height: 120px;
		margin: 0px 20px 20px 0px;
		&:nth-child(4n){
			margin: 0px 0px 20px 0px;
		}
		img{
			display: block;
		}
	}
}